@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mywallet";
  default: true;
  color-scheme: dark;

  --color-base-100: oklch(13.6% 0.037 264);
  --color-base-200: oklch(16% 0.03 264);
  --color-base-300: oklch(19% 0.025 264);
  --color-base-content: oklch(94% 0.01 264);

  --color-primary: oklch(49% 0.265 300);
  --color-primary-content: oklch(96% 0.005 300);

  --color-secondary: oklch(78% 0.138 185);
  --color-secondary-content: oklch(15% 0.03 185);

  --color-accent: oklch(72% 0.22 335);
  --color-accent-content: oklch(15% 0.03 335);

  --color-neutral: oklch(18% 0.026 270);
  --color-neutral-content: oklch(85% 0.01 270);

  --color-info: oklch(75% 0.167 220);
  --color-success: oklch(75% 0.176 160);
  --color-warning: oklch(83% 0.19 86);
  --color-error: oklch(72% 0.2 25);

  --radius-box: 1rem;
  --radius-btn: 0.8rem;
}

html,
body {
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  min-height: 100%;
}